{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Home{% endblock %}

{% block style %}
    <style>
        .hello {margin: 1em 0; font: 18px/1.5 sans-serif; display: flex; flex-wrap: wrap; white-space: nowrap;}
        .hello > h3 {margin: 0 1em;}

        .helloContent {padding: 1em; font-size: 14px;}
        .helloContent > div:first-child {color: red;}
        .helloContent > div + div {display: flex; gap: 2em;}
    </style>


    {# testDump #}
    {{ dump(['dump', 'twig', 'span']) }}
    {% if app.environment == 'dev' %}{% include 'dump_mix.html.twig' with {'mix':
        ['dump', 'twig', 'debug toolbar']
    } %}{% endif %}
{% endblock %}


{# phpunit twig {% dump %} tag. Not added: $twig->addTokenParser #}
{#{% dump ['dump', 'twig', 'debug toolbar'] %}#}


{% block main %}
    <div class='hello'>
        <h3>✅ Hello Symfony!</h3>
        <h3>✅ Hello Stimulus!</h3>
    </div>
    <hr/>

    <div class='helloContent' data-controller='hello'>
        <div data-hello-target='error'></div>
        <div>
            <pre data-hello-target='composer'></pre>
            <pre data-hello-target='package'></pre>
        </div>
    </div>
{% endblock %}
